In [7]:
import pymongo
import pandas as pd
serverUrl = "mongodb://localhost:27017"
client = pymongo.MongoClient(serverUrl)
db = client.MCI
years_data = pd.DataFrame(list(db.stats_by_year.find())).drop('_id',axis=1)
months_data = pd.DataFrame(list(db.stats_by_month.find())).drop('_id',axis=1)
dows_data = pd.DataFrame(list(db.stats_by_dow.find())).drop('_id',axis=1)
carriers_data = pd.DataFrame(list(db.stats_by_carrier.find())).drop('_id',axis=1)
X = pd.DataFrame(list(db.X_dummies.find())).drop('_id',axis=1)

In [9]:
years_data.to_csv('../Resources/years_data.csv')
months_data.to_csv('../Resources/months_data.csv')
dows_data.to_csv('../Resources/dows_data.csv')
carriers_data.to_csv('../Resources/carriers_data.csv')
X.to_csv('../Resources/X.csv')

In [12]:
X

,,YEAR_new,YEAR_old,MONTH_April,MONTH_August,MONTH_December,MONTH_February,MONTH_January,MONTH_July,MONTH_Jun,...,DEP_TIME_BLK_1400-1459,DEP_TIME_BLK_1500-1559,DEP_TIME_BLK_1600-1659,DEP_TIME_BLK_1700-1759,DEP_TIME_BLK_1800-1859,DEP_TIME_BLK_1900-1959,DEP_TIME_BLK_2000-2059,DEP_TIME_BLK_2100-2159,DEP_TIME_BLK_2200-2259,DEP_TIME_BLK_2300-2359
0,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0