In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Resources/flight_data.csv').drop(['Unnamed: 0'],axis=1)
df

,YEAR,MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,ORIGIN,DEST,DEP_TIME_BLK,Status
0,2021,January,Friday,AA,MCI,ORD,1000-1059,0
1,2021,January,Friday,AA,MCI,DFW,0900-0959,1
2,2021,January,Friday,AA,MCI,DFW,1700-1759,0
3,2021,January,Friday,AA,MCI,DFW,1500-1559,0
4,2021,January,Friday,AA,MCI,DFW,0700-0759,0
...,...,...,...,...,...,...,...,...
259853,2023,December,Sunday,WN,DAL,MCI,2100-2159,1
259854,2023,December,Sunday,WN,DAL,MCI,0600-0659,0
259855,2023,December,Sunday,WN,MKE,MCI,1000-1059,0
259856,2023,December,Sunday,WN,DCA,MCI,1200-1259,1
259857,2023,December,Sunday,WN,ABQ,MCI,1400-1459,1

In [3]:
df.columns

Index(['YEAR', 'MONTH', 'DAY_OF_WEEK', 'MKT_UNIQUE_CARRIER', 'ORIGIN', 'DEST',
       'DEP_TIME_BLK', 'Status'],
      dtype='object')

In [5]:
months_df = df.groupby(['MONTH'])['Status'].describe()
years_df = df.groupby(['YEAR'])['Status'].describe()
dows_df = df.groupby(['DAY_OF_WEEK'])['Status'].describe()
origins_df = df.groupby(['ORIGIN'])['Status'].describe()
dests_df = df.groupby(['DEST'])['Status'].describe()
carriers_df = df.groupby(['MKT_UNIQUE_CARRIER'])['Status'].describe()

In [6]:
years_df.to_csv('../Resources/stats_by_year.csv')
months_df.to_csv('../Resources/stats_by_month.csv')
dows_df.to_csv('../Resources/stats_by_dow.csv')
origins_df.to_csv('../Resources/stats_by_origin.csv')
dests_df.to_csv('../Resources/stats_by_dest.csv')
carriers_df.to_csv('../Resources/stats_by_carrier.csv')

In [7]:
months_df

             count      mean       std  min  25%  50%  75%  max
MONTH
April      20009.0  0.437053  0.496034  0.0  0.0  0.0  1.0  1.0
August     24097.0  0.476657  0.499465  0.0  0.0  0.0  1.0  1.0
December   22114.0  0.453288  0.497824  0.0  0.0  0.0  1.0  1.0
February   16550.0  0.402356  0.490388  0.0  0.0  0.0  1.0  1.0
January    17996.0  0.377806  0.484852  0.0  0.0  0.0  1.0  1.0
July       24117.0  0.519841  0.499617  0.0  0.0  1.0  1.0  1.0
Jun        22914.0  0.522083  0.499523  0.0  0.0  1.0  1.0  1.0
March      20243.0  0.427111  0.494671  0.0  0.0  0.0  1.0  1.0
May        21785.0  0.445306  0.497011  0.0  0.0  0.0  1.0  1.0
November   22943.0  0.417731  0.493196  0.0  0.0  0.0  1.0  1.0
October    24100.0  0.431328  0.495272  0.0  0.0  0.0  1.0  1.0
September  22990.0  0.404611  0.490827  0.0  0.0  0.0  1.0  1.0

In [8]:
years_df

        count      mean       std  min  25%  50%  75%  max
YEAR
2021  74374.0  0.398298  0.489551  0.0  0.0  0.0  1.0  1.0
2022  86939.0  0.464257  0.498724  0.0  0.0  0.0  1.0  1.0
2023  98545.0  0.465331  0.498799  0.0  0.0  0.0  1.0  1.0

In [9]:
dows_df

               count      mean       std  min  25%  50%  75%  max
DAY_OF_WEEK
Friday       38787.0  0.477248  0.499488  0.0  0.0  0.0  1.0  1.0
Monday       38544.0  0.450031  0.497503  0.0  0.0  0.0  1.0  1.0
Saturday     33055.0  0.450824  0.497583  0.0  0.0  0.0  1.0  1.0
Sunday       38192.0  0.471251  0.499179  0.0  0.0  0.0  1.0  1.0
Thursday     38354.0  0.455572  0.498029  0.0  0.0  0.0  1.0  1.0
Tuesday      36433.0  0.401257  0.490160  0.0  0.0  0.0  1.0  1.0
Wednesday    36493.0  0.410819  0.491989  0.0  0.0  0.0  1.0  1.0

In [10]:
origins_df

           count      mean       std  min   25%  50%   75%  max
ORIGIN
ABQ        249.0  0.811245  0.392102  0.0  1.00  1.0  1.00  1.0
ATL       8636.0  0.442798  0.496746  0.0  0.00  0.0  1.00  1.0
AUS       2717.0  0.499448  0.500092  0.0  0.00  0.0  1.00  1.0
BNA       3099.0  0.569861  0.495175  0.0  0.00  1.0  1.00  1.0
BOS       2193.0  0.326493  0.469037  0.0  0.00  0.0  1.00  1.0
BUF          2.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0
BWI       2122.0  0.730914  0.443589  0.0  0.00  1.0  1.00  1.0
CHS         25.0  0.800000  0.408248  0.0  1.00  1.0  1.00  1.0
CLT       3761.0  0.373571  0.483816  0.0  0.00  0.0  1.00  1.0
CVG          2.0  0.500000  0.707107  0.0  0.25  0.5  0.75  1.0
DAL       5110.0  0.616047  0.486394  0.0  0.00  1.0  1.00  1.0
DCA       4420.0  0.440498  0.496503  0.0  0.00  0.0  1.00  1.0
DEN      10744.0  0.596240  0.490673  0.0  0.00  1.0  1.00  1.0
DFW       6904.0  0.459009  0.498353  0.0  0.00  0.0  1.00  1.0
DTW       3983.0  0.298770  0.457776  0.0  0.00  0.0  1.00  1.0
ECP        182.0  0.615385  0.487846  0.0  0.00  1.0  1.00  1.0
EWR       1791.0  0.463987  0.498841  0.0  0.00  0.0  1.00  1.0
FLL       1322.0  0.633132  0.482133  0.0  0.00  1.0  1.00  1.0
HOU       2087.0  0.604696  0.489033  0.0  0.00  1.0  1.00  1.0
IAD       1299.0  0.418014  0.493422  0.0  0.00  0.0  1.00  1.0
IAH       3975.0  0.444025  0.496919  0.0  0.00  0.0  1.00  1.0
IND        434.0  0.460829  0.499039  0.0  0.00  0.0  1.00  1.0
JFK       1181.0  0.465707  0.499034  0.0  0.00  0.0  1.00  1.0
LAS       5191.0  0.616837  0.486204  0.0  0.00  1.0  1.00  1.0
LAX       3476.0  0.472957  0.499340  0.0  0.00  0.0  1.00  1.0
LGA       5752.0  0.367177  0.482077  0.0  0.00  0.0  1.00  1.0
LGB        289.0  0.602076  0.490319  0.0  0.00  1.0  1.00  1.0
MCI     129821.0  0.401738  0.490251  0.0  0.00  0.0  1.00  1.0
MCO       4676.0  0.588537  0.492151  0.0  0.00  1.0  1.00  1.0
MDW       5780.0  0.619896  0.485454  0.0  0.00  1.0  1.00  1.0
MIA       1488.0  0.446237  0.497268  0.0  0.00  0.0  1.00  1.0
MKE        211.0  0.317536  0.466625  0.0  0.00  0.0  1.00  1.0
MSP       4275.0  0.351579  0.477519  0.0  0.00  0.0  1.00  1.0
MSY        767.0  0.530639  0.499386  0.0  0.00  1.0  1.00  1.0
MYR         92.0  0.630435  0.485332  0.0  0.00  1.0  1.00  1.0
OAK       1022.0  0.655577  0.475412  0.0  0.00  1.0  1.00  1.0
ORD       8370.0  0.392115  0.488251  0.0  0.00  0.0  1.00  1.0
PDX        431.0  0.348028  0.476898  0.0  0.00  0.0  1.00  1.0
PGD        215.0  0.534884  0.499946  0.0  0.00  1.0  1.00  1.0
PHL       1863.0  0.279656  0.448951  0.0  0.00  0.0  1.00  1.0
PHX       6343.0  0.548163  0.497714  0.0  0.00  1.0  1.00  1.0
PIE        163.0  0.288344  0.454388  0.0  0.00  0.0  1.00  1.0
PNS        337.0  0.424332  0.494976  0.0  0.00  0.0  1.00  1.0
RDU         34.0  0.617647  0.493270  0.0  0.00  1.0  1.00  1.0
RSW        715.0  0.490909  0.500267  0.0  0.00  0.0  1.00  1.0
SAN       1055.0  0.635071  0.481639  0.0  0.00  1.0  1.00  1.0
SAT        234.0  0.410256  0.492935  0.0  0.00  0.0  1.00  1.0
SEA       2895.0  0.388601  0.487517  0.0  0.00  0.0  1.00  1.0
SFB         44.0  0.477273  0.505258  0.0  0.00  0.0  1.00  1.0
SFO        477.0  0.398323  0.490067  0.0  0.00  0.0  1.00  1.0
SLC       2825.0  0.350442  0.477193  0.0  0.00  0.0  1.00  1.0
SNA         91.0  0.747253  0.436995  0.0  0.50  1.0  1.00  1.0
SRQ         68.0  0.764706  0.427336  0.0  1.00  1.0  1.00  1.0
STL       2574.0  0.616939  0.486228  0.0  0.00  1.0  1.00  1.0
TPA       1850.0  0.570270  0.495171  0.0  0.00  1.0  1.00  1.0
VPS        196.0  0.443878  0.498113  0.0  0.00  0.0  1.00  1.0

In [11]:
dests_df

         count      mean       std  min  25%  50%  75%  max
DEST
ABQ      250.0  0.484000  0.500746  0.0  0.0  0.0  1.0  1.0
ATL     8622.0  0.369752  0.482765  0.0  0.0  0.0  1.0  1.0
AUS     2722.0  0.406686  0.491306  0.0  0.0  0.0  1.0  1.0
BNA     3083.0  0.554006  0.497155  0.0  0.0  1.0  1.0  1.0
BOS     2191.0  0.300776  0.458700  0.0  0.0  0.0  1.0  1.0
BUF        1.0  1.000000       NaN  1.0  1.0  1.0  1.0  1.0
BWI     2132.0  0.527205  0.499376  0.0  0.0  1.0  1.0  1.0
CHS       26.0  0.576923  0.503831  0.0  0.0  1.0  1.0  1.0
CLT     3751.0  0.329246  0.470002  0.0  0.0  0.0  1.0  1.0
CVG        2.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
DAL     5041.0  0.575283  0.494349  0.0  0.0  1.0  1.0  1.0
DCA     4406.0  0.359737  0.479978  0.0  0.0  0.0  1.0  1.0
DEN    10714.0  0.445772  0.497074  0.0  0.0  0.0  1.0  1.0
DFW     6896.0  0.360644  0.480222  0.0  0.0  0.0  1.0  1.0
DTW     3985.0  0.197240  0.397965  0.0  0.0  0.0  0.0  1.0
ECP      183.0  0.448087  0.498662  0.0  0.0  0.0  1.0  1.0
EWR     1784.0  0.263453  0.440629  0.0  0.0  0.0  1.0  1.0
FLL     1311.0  0.621663  0.485157  0.0  0.0  1.0  1.0  1.0
HOU     2052.0  0.544834  0.498107  0.0  0.0  1.0  1.0  1.0
IAD     1309.0  0.218487  0.413378  0.0  0.0  0.0  0.0  1.0
IAH     3946.0  0.239990  0.427131  0.0  0.0  0.0  0.0  1.0
IND      432.0  0.495370  0.500558  0.0  0.0  0.0  1.0  1.0
JFK     1182.0  0.327411  0.469467  0.0  0.0  0.0  1.0  1.0
LAS     5181.0  0.548157  0.497724  0.0  0.0  1.0  1.0  1.0
LAX     3474.0  0.495107  0.500048  0.0  0.0  0.0  1.0  1.0
LGA     5730.0  0.305410  0.460621  0.0  0.0  0.0  1.0  1.0
LGB      290.0  0.544828  0.498847  0.0  0.0  1.0  1.0  1.0
MCI   130037.0  0.489761  0.499897  0.0  0.0  0.0  1.0  1.0
MCO     4668.0  0.499143  0.500053  0.0  0.0  0.0  1.0  1.0
MDW     5789.0  0.537053  0.498668  0.0  0.0  1.0  1.0  1.0
MIA     1489.0  0.253190  0.434985  0.0  0.0  0.0  1.0  1.0
MKE      211.0  0.421801  0.495021  0.0  0.0  0.0  1.0  1.0
MSP     4272.0  0.248596  0.432249  0.0  0.0  0.0  0.0  1.0
MSY      796.0  0.501256  0.500313  0.0  0.0  1.0  1.0  1.0
MYR       92.0  0.521739  0.502264  0.0  0.0  1.0  1.0  1.0
OAK     1008.0  0.714286  0.451978  0.0  0.0  1.0  1.0  1.0
ORD     8348.0  0.255510  0.436174  0.0  0.0  0.0  1.0  1.0
PDX      432.0  0.416667  0.493578  0.0  0.0  0.0  1.0  1.0
PGD      216.0  0.759259  0.428526  0.0  1.0  1.0  1.0  1.0
PHL     1861.0  0.229447  0.420590  0.0  0.0  0.0  0.0  1.0
PHX     6355.0  0.492683  0.499986  0.0  0.0  0.0  1.0  1.0
PIE      164.0  0.585366  0.494168  0.0  0.0  1.0  1.0  1.0
PNS      335.0  0.408955  0.492376  0.0  0.0  0.0  1.0  1.0
RDU       33.0  0.696970  0.466694  0.0  0.0  1.0  1.0  1.0
RSW      708.0  0.533898  0.499202  0.0  0.0  1.0  1.0  1.0
SAN     1119.0  0.615728  0.486640  0.0  0.0  1.0  1.0  1.0
SAT      239.0  0.577406  0.495009  0.0  0.0  1.0  1.0  1.0
SEA     2889.0  0.264798  0.441302  0.0  0.0  0.0  1.0  1.0
SFB       45.0  0.622222  0.490310  0.0  0.0  1.0  1.0  1.0
SFO      472.0  0.190678  0.393252  0.0  0.0  0.0  0.0  1.0
SLC     2828.0  0.237270  0.425484  0.0  0.0  0.0  0.0  1.0
SNA       93.0  0.602151  0.492107  0.0  0.0  1.0  1.0  1.0
SRQ       67.0  0.537313  0.502369  0.0  0.0  1.0  1.0  1.0
STL     2566.0  0.507405  0.500043  0.0  0.0  1.0  1.0  1.0
TPA     1834.0  0.544711  0.498133  0.0  0.0  1.0  1.0  1.0
VPS      196.0  0.500000  0.501280  0.0  0.0  0.5  1.0  1.0

In [12]:
carriers_df

                       count      mean       std  min  25%  50%  75%  max
MKT_UNIQUE_CARRIER
AA                   49961.0  0.341466  0.474206  0.0  0.0  0.0  1.0  1.0
AS                    4662.0  0.318318  0.465874  0.0  0.0  0.0  1.0  1.0
B6                    2287.0  0.415391  0.492897  0.0  0.0  0.0  1.0  1.0
DL                   49204.0  0.300971  0.458685  0.0  0.0  0.0  1.0  1.0
F9                    2021.0  0.433449  0.495674  0.0  0.0  0.0  1.0  1.0
G4                    1197.0  0.521303  0.499755  0.0  0.0  1.0  1.0  1.0
NK                    8776.0  0.436418  0.495969  0.0  0.0  0.0  1.0  1.0
UA                   32731.0  0.341206  0.474122  0.0  0.0  0.0  1.0  1.0
WN                  109019.0  0.596593  0.490583  0.0  0.0  1.0  1.0  1.0